<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="basePath" value="D:\MessagingHubApplications"/>
    <add key="waitForActivationDelay" value="5ss"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="fileTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Activator.log" />
        <add name="eventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceListenerLog" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>