<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target xsi:type="Console" name="ConsoleOut" layout="IT WORKS! ${longdate} ${uppercase:${level}} ${message}" encoding="utf-8" error="false" />
    <target xsi:type="Console" name="ConsoleOutErr" layout="IT WORKS! ${longdate} ${uppercase:${level}} ${message}" encoding="utf-8" error="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="ConsoleOut" />
    <logger name="*" minlevel="Warn" writeTo="ConsoleOutErr" />
  </rules>
</nlog>