<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Uncomment the line bellow to enable logging on file system-->
        <add name="fileTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="mhh.log" />
        <!-- Uncomment the line bellow to enable logging on EventViewer -->                    
        <!--<add name="eventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Messaging Hub Host" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>