<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lime.Messaging" version="0.2.328" targetFramework="net452" />
  <package id="Lime.Protocol" version="0.2.328" targetFramework="net452" />
  <package id="Lime.Transport.Tcp" version="0.2.328" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
</packages>